body {
  /* background: rgb(34, 34, 59);
  background: linear-gradient(
    90deg,
    rgba(34, 34, 59, 1) 30%,
    rgba(74, 78, 105, 1) 76%
  ); */
  background: rgb(231, 111, 81);
  background: linear-gradient(
    90deg,
    rgba(231, 111, 81, 1) 34%,
    rgba(244, 162, 97, 1) 63%,
    rgba(233, 196, 106, 1) 100%
  );
}
